.imageBorder {
  border: medium;
  border-color: $secondary;
}

.smallPicture {
  height: 10em;
  width: 10em;
  margin: 3rem;
  padding: 3rem;
  float: left;
  border-radius: 8px;
  border: ridge;
  border-color: pink;
  border-width: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.centerBorder {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}