@import '../../global-scss/bootstrap-overrides.scss';


.mr-auto {
  text-emphasis-color: $mygreen;
}

.nav-link {
  color: $mywhite !important;

  &:hover {
    color: $primary !important;
  }
}

#basic-navbar-nav {
  color:pink;
}
.bg {
  background-color: purple;
}
